<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TEST Suite">
<listeners>
<listener class-name="com.actTime.utiities.ListenerTest"></listener>
</listeners>
  <test name="Test">
    <classes>
      <class name="com.actiTime.Test.TC_001_LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
